* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1143px;
    margin: 0 auto;
}

body {
    background: #3A4965;
}

.Pricing__table-primary {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #F2F2F2;
    text-align: center;
    padding: 22px 0;
    width: 25%;
}

.table__header-title {
    background: #FAFAFA;
}

.header__title-primary {
    font-family: Arimo;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #484848;
    text-transform: uppercase;
}
.header__title-secondary {
    font-family: Arimo;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #484848;
    text-transform: uppercase;
}
.table__smalltitle-green,
.table__smalltitle-red,
.table__smalltitle-blue {

    font-family: Arimo;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.table__smalltitle-green {
    background: #89C331;
}
.table__smalltitle-red {
    background: #F04A56;
}
.table__smalltitle-blue {
    background: #20807C;
}
